Repository Pic-me-Pic-me/pic.me-client, pull requests merged in 2023-02, with the labels that each got.

#151 [ 🙋‍♀️ Login ] 카카오 로그인 리팩토링
  src/components/Auth/Auth.tsx
  src/components/Auth/Login.tsx
  src/components/Auth/MemberInfo.tsx
  src/components/Home/Nav.tsx
  src/components/Home/VoteList.tsx
  src/components/Signup/AddAccount.tsx
  src/components/Signup/KakaoNickname.tsx
  src/components/Signup/Nickname.tsx
  src/components/Voting/maker/ImageInput.tsx
  src/components/common/Router.tsx
  src/lib/api/auth.ts
  src/lib/api/signup.ts
  src/lib/api/voting.ts
  src/lib/axios.ts
  src/lib/hooks/useGetUsernameCheck.tsx
  src/lib/hooks/useGetVotingInfo.tsx
  src/lib/token.ts
  src/pages/PlayerLanding.tsx
  src/react-app-env.d.ts
  src/types/auth.ts
  src/types/signup.ts
Labels: 🙋‍♀️ Login

#149 [ Currrentvote ] 메이커 현재투표 뷰 및 기능 리팩토링 / 공유 템플릿 새로운 경로에 맞게 변경
  src/components/CurrentVote/CurrentVoteBtn.tsx
  src/components/CurrentVote/CurrentVoteInfo.tsx
  src/components/CurrentVote/CurrentVoteSlider.tsx
  src/components/CurrentVote/index.ts
  src/components/Landing/maker/index.ts
  src/components/common/index.ts
  src/lib/hooks/useGetCurrentVote.tsx
  src/pages/CurrentVoteDetail.tsx
  src/pages/Share.tsx
  src/recoil/maker/atom.ts
Labels: CurrrnetVote

#154 [ 🔮 Sticker ] 스티커 삭제 depth 줄이기
  src/asset/icon/ic_cancel.svg
  src/asset/icon/index.ts
  src/components/Voting/player/StickerVoting.tsx
  src/components/common/Router.tsx
  src/lib/api/voting.ts
  src/lib/axios.ts
  src/lib/hooks/useGetResultVoting.tsx
  src/lib/hooks/useGetVotingInfo.tsx
  src/pages/PlayerLanding.tsx
  src/pages/player/StickerAttachment.tsx
Labels: 🔮 Sticker

#158 [Maker Voting] 이미지 용량 리팩토링
  src/components/Layout/maker/MakerVotingLayout.tsx
  src/components/Voting/maker/ImageInput.tsx
  src/components/Voting/maker/TitleInput.tsx
  src/lib/api/voting.ts
  src/utils/setImgCompress.ts
Labels: 📤 Maker_Voting, Refactor
