Repository Pic-me-Pic-me/pic.me-client, pull requests merged in 2023-03, with the labels that each got.

#165 [ Home ] Footer 구현
  src/components/Home/Footer.tsx
  src/components/Home/Hamburger.tsx
  src/components/Home/VoteList.tsx
  src/components/Home/index.ts
  src/lib/api/auth.ts
  src/pages/Home.tsx
Labels: 🏠 Home

#171 [ Hotfix ] 슬라이더 레이아웃 이슈 해결
  src/components/CurrentVote/CurrentVoteInfo.tsx
  src/components/CurrentVote/CurrentVoteSlider.tsx
Labels: Hotfix

#177 [Flower-CurrentVote] 꽃인상 테스트 현재 테스트 뷰 구현
  src/components/CurrentVote/CurrentVoteBtn.tsx
  src/components/CurrentVote/CurrentVoteInfo.tsx
  src/components/CurrentVote/CurrentVoteSlider.tsx
  src/components/CurrentVote/Layout/CurrentVoteInfoLayout.tsx
  src/components/CurrentVote/Layout/index.ts
  src/components/common/Router.tsx
  src/pages/CurrentFlowerDetail.tsx
  src/pages/Share.tsx
Labels: CurrrnetVote

#186 [ Player_Voting ] 키워드 선택
  src/components/Layout/player/VotingLayout.tsx
  src/components/Voting/player/KeyWordTag.tsx
  src/components/common/Router.tsx
  src/constant/playerInfo.ts
  src/pages/player/ReasonVoting.tsx
  src/pages/player/flower/KeyWordVoting.tsx
  src/pages/player/flower/index.ts
Labels: 📥 Player_Voting

#185 [ Player_Voting ] 꽃 스티커 1회 투표 기능
  src/asset/icon/IcChoice.svg
  src/asset/icon/index.ts
  src/components/Voting/player/StickerGuide.tsx
  src/components/Voting/player/StickerVoting.tsx
  src/components/common/StickerAttachImg.tsx
  src/constant/FlowerIconList.js
  src/constant/playerInfo.ts
  src/pages/player/ResultVoting.tsx
  src/pages/player/StickerAttachment.tsx
  src/recoil/maker/atom.ts
  src/types/vote.ts
Labels: 📥 Player_Voting

#184 [ Player_Voting ] 꽃 - 플레이어 슬라이더 및 경로
  src/asset/icon/IcBlackHeaderFirst.svg
  src/asset/icon/IcBlackHeaderLast.svg
  src/asset/icon/IcBlackHeaderSecond.svg
  src/asset/icon/IcCheeryBlossoms.svg
  src/asset/icon/IcFlower.svg
  src/asset/icon/IcLily.svg
  src/asset/icon/IcRose.svg
  src/asset/icon/IcSunFlower.svg
  src/asset/icon/index.ts
  src/components/Landing/VoteLanding.tsx
  src/components/Layout/player/HeaderLayout.tsx
  src/components/Layout/player/VotingLayout.tsx
  src/components/Voting/player/KeyWordTag.tsx
  src/components/Voting/player/ReasonSlider.tsx
  src/components/common/Router.tsx
  src/constant/playerInfo.ts
  src/constant/slider.ts
  src/pages/player/ReasonVoting.tsx
  src/pages/player/flower/KeyWordVoting.tsx
  src/pages/player/flower/index.ts
  src/recoil/player/atom.ts
  src/types/vote.ts
Labels: 📥 Player_Voting

#189 [ Maker Landing ] 꽃.ver 랜딩페이지 구현
  src/asset/icon/flower_onboarding.svg
  src/asset/icon/flower_pic.svg
  src/asset/icon/index.ts
  src/components/Landing/MakerLanding.tsx
  src/components/common/MakerLandingModal.tsx
  src/lib/hooks/useStatusBarColor.tsx
Labels: ✨ Maker_Landing

#187 [ Flower - Share ] 공유 템플릿 꽃 .ver 구현 및 컴포넌트 모듈화
  src/asset/icon/IcFlowerShareGuide.svg
  src/asset/icon/IcShareBtn.svg
  src/asset/icon/index.ts
  src/components/Share/FlowerShareGuide.tsx
  src/components/Share/Layout/ShareLayout.tsx
  src/components/Share/Layout/index.ts
  src/components/Share/PicmeVoteShareGuide.tsx
  src/components/Share/index.ts
  src/pages/Share.tsx
Labels: Share
