Repository Pic-me-Pic-me/pic.me-client, pull requests merged in 2023-01, with the labels that each got.

#16 [ 📥 Player Voting ] 플레이어 투표 뷰 구현
  src/App.tsx
  src/asset/icon/ic_angle.svg
  src/asset/icon/ic_back_ground.svg
  src/asset/icon/ic_face.svg
  src/asset/icon/ic_just.svg
  src/asset/icon/index.ts
  src/asset/image/index.ts
  src/asset/image/stickerTest.png
  src/components/Layout/player/VotingLayout.tsx
  src/components/Layout/player/index.ts
  src/components/Voting/player/StickerVoting.tsx
  src/components/common/Router.tsx
  src/constant/StickerIconList.js
  src/pages/player/ImgChoice.tsx
  src/pages/player/Voting.tsx
  src/pages/player/index.ts
  src/recoil/player/atom.ts
  src/styles/globalFont.css
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/voting.ts
Labels: 📤 Player_Voting

#18 [Maker_Voting] 사진 삽입 뷰 구현
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  src/asset/icon/ic_cropImg.svg
  src/asset/icon/ic_imageAdd.svg
  src/asset/icon/ic_modify.svg
  src/asset/icon/ic_removeImg.svg
  src/asset/icon/index.ts
  src/components/Layout/MakerVotingLayout.tsx
  src/components/MakerVoting/ImageInput.tsx
  src/components/MakerVoting/TitleInput.tsx
  src/components/MakerVoting/index.ts
  src/components/common/Router.tsx
  src/pages/MakerVoting.tsx
  src/recoil/maker/atom.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/votingImage.ts
Labels: 📥 Maker_Voting

#44 [ 🙋‍♀️ Login ] 로그인 뷰 UI 반응형으로 변경
  src/asset/icon/index.ts
  src/asset/icon/picmeLogo.svg
  src/asset/image/index.ts
  src/asset/image/login_banner.svg
  src/components/Auth/Login.tsx
  src/components/common/Modal.tsx
  src/styles/globalStyle.ts
Labels: 🙋‍♀️ Login

#28 [ 📥 Player voting ] 투표 이유 슬라이더 -> picmeSliderEvent 구현
  src/asset/icon/angle_menu.svg
  src/asset/icon/background_menu.svg
  src/asset/icon/face_menu.svg
  src/asset/icon/index.ts
  src/asset/icon/just_menu.svg
  src/components/Voting/player/ReasonSlider.tsx
  src/components/Voting/player/index.ts
  src/lib/hooks/useCarouselSize.tsx
  src/lib/hooks/useGetVotingInfo.ts
  src/pages/Voting.tsx
  src/utils/picmeSliderEvent.ts
Labels: 📤 Player_Voting, Code review

#50 [ 📥 Player Voting ] 스켈레톤 및 디테일 수정
  src/asset/icon/ic_Skeleton_back.svg
  src/asset/icon/ic_landing_round.svg
  src/asset/icon/ic_skeleton_header.svg
  src/asset/icon/ic_skeleton_menu.svg
  src/asset/icon/index.ts
  src/components/Landing/player/LandingHeader.tsx
  src/components/Landing/player/LandingPictureSlider.tsx
  src/components/Landing/player/LandingReasonSlider.tsx
  src/components/Landing/player/LandingSelectPicture.tsx
  src/components/Landing/player/LandingVoting.tsx
  src/components/Landing/player/index.ts
  src/components/Layout/player/HeaderLayout.tsx
  src/components/Layout/player/VotingLayout.tsx
  src/components/Voting/player/PictureSlider.tsx
  src/components/common/style/animation.ts
  src/pages/player/PictureVoting.tsx
  src/pages/player/ReasonVoting.tsx
  src/pages/player/ResultVoting.tsx
  src/pages/player/StickerAttachment.tsx
  src/styles/globalStyle.ts
Labels: 📤 Player_Voting, Code review

#35 [Maker Voting] 이미지 크롭 뷰 구현
  .pnp.cjs
  .yarn/cache/browser-image-compression-npm-2.0.0-d41d5989f6-c95b3ad5d6.zip
  .yarn/cache/normalize-wheel-npm-1.0.1-86fe373cbe-00b32efa04.zip
  .yarn/cache/react-easy-crop-npm-4.6.3-ccc2238783-33fae1e0be.zip
  .yarn/cache/tslib-npm-2.0.1-26f70961f9-507f32fc24.zip
  .yarn/cache/uzip-npm-0.20201231.0-122f770c6a-34253f4c3d.zip
  package.json
  src/asset/icon/IcGoback.svg
  src/asset/icon/ic_close.svg
  src/asset/icon/ic_hand.svg
  src/asset/icon/ic_moveCrop.svg
  src/asset/icon/index.ts
  src/components/Layout/HeaderLayout.tsx
  src/components/Layout/MakerVotingLayout.tsx
  src/components/Layout/index.ts
  src/components/Layout/maker/MakerVotingLayout.tsx
  src/components/Layout/maker/index.ts
  src/components/Voting/maker/CoachMark.tsx
  src/components/Voting/maker/ImageCrop.tsx
  src/components/Voting/maker/ImageInput.tsx
  src/components/Voting/maker/TitleInput.tsx
  src/components/Voting/maker/index.ts
  src/components/common/Modal.tsx
  src/lib/hooks/useModal.ts
  src/pages/MakerVoting.tsx
  src/recoil/maker/atom.ts
  src/styles/globalStyle.ts
  src/utils/setCroppedImg.ts
  src/utils/setDataURLtoFile.ts
  src/utils/setImgCompress.ts
  yarn.lock
Labels: 📤 Player_Voting

#42 [ Common ] 모달 공통 컴포넌트 UI 반응형으로 변경
  src/components/common/Modal.tsx
Labels: Common

#55 [ 🏠Home ] 홈 뷰 UI 반응형으로 변경
  .pnp.cjs
  .yarn/cache/.gitignore 2
  .yarn/cache/@babel-traverse-npm-7.20.12-68fa1c73c8-d758b355ab.zip
  package.json
  pic.me-client
  src/asset/icon/IcPlayerLandingLogo.svg
  src/components/Home/Hamburger.tsx
  src/components/Home/Header.tsx
  src/components/Home/Nav.tsx
  src/components/Home/VoteCard.tsx
  src/components/Home/VoteList.tsx
  src/components/Home/index.ts
  src/components/common/Modal.tsx
  src/index.tsx
  src/lib/api/voting.ts
  src/lib/axios.ts
  src/lib/hooks/useIntersectionObserver.ts
  src/lib/hooks/useModal.ts
  src/pages/Home.tsx
  src/styles/globalStyle.ts
  yarn.lock
Labels: 🏠 Home

#59 [Common] Error404 페이지 퍼블리싱
  src/asset/icon/IcError.svg
  src/asset/icon/index.ts
  src/components/common/Error.tsx
  src/pages/Error404.tsx
  src/styles/style.d.ts
  src/styles/theme.ts
Labels: Common

#56 [Maker Voting] 투표 생성 API 연동
  public/mockServiceWorker.js
  src/components/MakerVoting/ImageInput.tsx
  src/components/Voting/maker/ImageInput.tsx
  src/index.tsx
  src/lib/axios.ts
  src/mocks/browser.ts
  src/mocks/data/votingData.ts
  src/mocks/handler/index.ts
  src/mocks/handler/voting.ts
Labels: 📥 Maker_Voting

#66 [Maker Voting] feature-maker 브랜치에 병합
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pnp.cjs
  .yarn/cache/browser-image-compression-npm-2.0.0-d41d5989f6-c95b3ad5d6.zip
  .yarn/cache/normalize-wheel-npm-1.0.1-86fe373cbe-00b32efa04.zip
  .yarn/cache/react-easy-crop-npm-4.6.3-ccc2238783-33fae1e0be.zip
  .yarn/cache/tslib-npm-2.0.1-26f70961f9-507f32fc24.zip
  .yarn/cache/uzip-npm-0.20201231.0-122f770c6a-34253f4c3d.zip
  README.md
  package.json
  public/mockServiceWorker.js
  src/asset/icon/ic_close.svg
  src/asset/icon/ic_cropImg.svg
  src/asset/icon/ic_hand.svg
  src/asset/icon/ic_imageAdd.svg
  src/asset/icon/ic_modify.svg
  src/asset/icon/ic_moveCrop.svg
  src/asset/icon/ic_removeImg.svg
  src/asset/icon/index.ts
  src/components/Layout/HeaderLayout.tsx
  src/components/Layout/index.ts
  src/components/Layout/maker/MakerVotingLayout.tsx
  src/components/Layout/maker/index.ts
  src/components/Voting/maker/CoachMark.tsx
  src/components/Voting/maker/ImageCrop.tsx
  src/components/Voting/maker/ImageInput.tsx
  src/components/Voting/maker/TitleInput.tsx
  src/components/Voting/maker/index.ts
  src/components/common/Modal.tsx
  src/components/common/Router.tsx
  src/index.tsx
  src/lib/axios.ts
  src/lib/hooks/useModal.ts
  src/mocks/browser.ts
  src/mocks/data/votingData.ts
  src/mocks/handler/index.ts
  src/mocks/handler/voting.ts
  src/pages/MakerVoting.tsx
  src/recoil/maker/atom.ts
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/votingImage.ts
  src/utils/setCroppedImg.ts
  src/utils/setDataURLtoFile.ts
  src/utils/setImgCompress.ts
  yarn.lock
Labels: Maker

#57 [ 📥 Player Voting ] 플레이어 api 연결
  .pnp.cjs
  src/asset/icon/IcModalBG.svg
  src/asset/icon/angle_menu.svg
  src/asset/icon/background_menu.svg
  src/asset/icon/face_menu.svg
  src/asset/icon/ic_angle.svg
  src/asset/icon/ic_back_ground.svg
  src/asset/icon/ic_face.svg
  src/asset/icon/ic_just.svg
  src/asset/icon/ic_player_title.svg
  src/asset/icon/index.ts
  src/asset/icon/just_menu.svg
  src/asset/image/PlayerTitle.png
  src/asset/image/index.ts
  src/components/Landing/FinishedLanding.tsx
  src/components/Landing/VoteLanding.tsx
  src/components/Landing/player/LandingPlayer.tsx
  src/components/Landing/player/index.ts
  src/components/Layout/player/VotingLayout.tsx
  src/components/Voting/player/PictureSlider.tsx
  src/components/Voting/player/ReasonSlider.tsx
  src/components/Voting/player/SelectPicture.tsx
  src/components/Voting/player/StickerResultVoting.tsx
  src/components/Voting/player/StickerVoting.tsx
  src/lib/api/voting.ts
  src/lib/axios.ts
  src/lib/hooks/useGetResultVoting.tsx
  src/lib/hooks/useGetVotingInfo.tsx
  src/pages/PlayerLanding.tsx
  src/pages/player/PictureVoting.tsx
  src/pages/player/ReasonVoting.tsx
  src/pages/player/ResultVoting.tsx
  src/pages/player/StickerAttachment.tsx
  src/recoil/player/atom.ts
  src/styles/theme.ts
  src/types/vote.ts
  src/types/voting.ts
  yarn.lock
Labels: 📤 Player_Voting, Code review

#73 [ Share ] 플랫폼별 대응하는 딥링크로 수정
  .pnp.cjs
  .yarn/cache/react-device-detect-npm-2.2.2-1848521a19-d9245cf5a1.zip
  .yarn/cache/ua-parser-js-npm-1.0.32-95b0b6a78d-79a80efd9c.zip
  package.json
  src/pages/Share.tsx
  yarn.lock
Labels: Share, Code review

#74 [ Share ] feauture-share --> feature-maker 에 머지
  .pnp.cjs
  .yarn/cache/@types-react-copy-to-clipboard-npm-5.0.4-cc4f7d72b2-c0fe51b79a.zip
  .yarn/cache/copy-to-clipboard-npm-3.3.3-6964e6cfad-e0a325e39b.zip
  .yarn/cache/react-copy-to-clipboard-npm-5.1.0-de9742f2bc-f00a4551b9.zip
  .yarn/cache/react-device-detect-npm-2.2.2-1848521a19-d9245cf5a1.zip
  .yarn/cache/toggle-selection-npm-1.0.6-c506b73005-a90dc80ed1.zip
  .yarn/cache/ua-parser-js-npm-1.0.32-95b0b6a78d-79a80efd9c.zip
  package.json
  src/asset/icon/IcShareBtn.svg
  src/asset/icon/index.ts
  src/asset/icon/picme_sticker.svg
  src/asset/image/ImgShareCapture.png
  src/asset/image/ImgSignUpBanner.svg
  src/asset/image/face_sticker.png
  src/asset/image/index.ts
  src/components/common/Router.tsx
  src/pages/Share.tsx
  src/styles/globalFont.css
  src/styles/style.d.ts
  src/styles/theme.ts
  yarn.lock
Labels: Share

#34 [ 👐 Signup ] 회원가입 기능 구현 + mock api 연결
  .pnp.cjs
  .yarn/cache/@types-cookie-npm-0.3.3-a5ddc16db3-450c930d79.zip
  .yarn/cache/react-cookie-npm-4.1.1-90d4f0fcb5-b734dcad35.zip
  .yarn/cache/universal-cookie-npm-4.0.4-aa9b4bcfbf-bb2bafa7eb.zip
  package.json
  src/asset/icon/index.ts
  src/asset/icon/signup_banner.svg
  src/components/Home/Header.tsx
  src/components/Layout/HeaderLayout.tsx
  src/components/Library/MonthVoting.tsx
  src/components/SignUp/Nickname.tsx
  src/components/Signup/AddAccount.tsx
  src/components/Signup/Nickname.tsx
  src/index.tsx
  src/lib/api/signup.ts
  src/lib/axios.ts
  src/pages/Signup.tsx
  src/styles/globalStyle.ts
  src/types/signup.ts
  src/utils/check.ts
  yarn.lock
Labels: 🔍 SignUp

#111 [ HOTFIX ] QA 이슈 대응
  src/components/Layout/HeaderLayout.tsx
  src/pages/CurrentVoteDetail.tsx
  src/pages/Login.tsx
  src/pages/Share.tsx
Labels: Hotfix

#113 [Hotfix] QA관련 버튼 중복 클릭/이미지 깨짐 오류 수정
  src/components/Voting/maker/ImageInput.tsx
  src/components/common/Router.tsx
  src/pages/Home.tsx
  src/utils/setImgCompress.ts
Labels: Hotfix

#132 [🔮 Sticker ] Maker / Player 스티커 모듈화
  src/components/Auth/MemberInfo.tsx
  src/components/Home/Nav.tsx
  src/components/Home/VoteCard.tsx
  src/components/Home/VoteList.tsx
  src/components/Landing/player/LandingHeader.tsx
  src/components/Landing/player/LandingReasonSlider.tsx
  src/components/Layout/HeaderLayout.tsx
  src/components/Library/EndedVoting.tsx
  src/components/Result/ResultReason.tsx
  src/components/Result/SliderTitle.tsx
  src/components/Signup/AddAccount.tsx
  src/components/Signup/Nickname.tsx
  src/components/Voting/player/PictureSlider.tsx
  src/components/Voting/player/ReasonSlider.tsx
  src/components/Voting/player/StickerResultVoting.tsx
  src/components/Voting/player/StickerVoting.tsx
  src/components/common/Modal.tsx
  src/components/common/StickerAttachImg.tsx
  src/components/common/index.ts
  src/constant/StickerIconList.js
  src/lib/api/auth.ts
  src/lib/api/voting.ts
  src/lib/hooks/useGetCurrentVote.tsx
  src/lib/hooks/useGetVoteResult.tsx
  src/pages/CurrentVoteDetail.tsx
  src/pages/Home.tsx
  src/pages/PlayerLanding.tsx
  src/pages/Result.tsx
  src/pages/Signup.tsx
  src/pages/player/PictureVoting.tsx
  src/pages/player/ReasonVoting.tsx
  src/pages/player/ResultVoting.tsx
  src/pages/player/StickerAttachment.tsx
  src/recoil/maker/atom.ts
  src/recoil/player/atom.ts
  src/types/vote.ts
Labels: 📝 Code review, 🔮 Sticker

#135 [ 🔮 Sticker ] 스티커 삭제 기능
  src/asset/icon/ic_cancel.svg
  src/asset/icon/index.ts
  src/components/Voting/player/StickerVoting.tsx
  src/types/vote.ts
Labels: 📝 Code review, 🔮 Sticker
